
body{ 
  background: #E0E4E8;
  font-family: 'Montserrat', sans-serif;
  color:#5B5A5A;
}
img{
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 8px;

}
.ImgEventMenu{
  width: 60%;
  background: #FAFAFA;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
a{
  color:#5B5A5A;
}
a:hover{
  color: white;
}
input:valid {
  color: green;
}
/* Basics styles  */
.main-div {
  background: #E0E4E8 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 50%;
  padding: 50px 50px 50px 50px;
}
.GoBackBotton{
  margin-right:0;
}
/* logo Section */
.centrador{
  padding: 10% 0 10% 0;
  margin:auto;
  width: 400px;
  height: 120px;
}
.ClientLogo{
    width: 100%;
}
/* login section  */
.form-heading { 
  color:#fff; 
  font-size:23px;
}
.panel h2{ 
  font-size:2em; 
  margin:0 0 8px 0;
}
.panel p { 
  font-size:2em; 
  margin-bottom:30px; 
  line-height:24px;
}

.login-form .form-control {
  background: #F5F6F7 none repeat scroll 0 0;
  border: 1px solid #CFD0D1;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.login-form .form-group {
  margin-bottom:2%;
}
.login-form{
   text-align:center;
  }
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #4BA30C none repeat scroll 0 0;
  border-color: #4BA30C;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left;
  margin-bottom:30px;
}
.botto-text  {
  color: #5B5A5A;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
}
.botto-text-pre{
  color: #5B5A5A;
  font-size: 0.8em;
  margin: auto;

}

.botto-text:hover{
  color: #FABD06;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { 
  text-align: left; 
  margin-top:10px;}
.back a {
  font-size: 13px;
  text-decoration: none;}
.fixed-bottom{
  padding-bottom:1%;
}
/* event menu/ display menu page  */
/* display page */
.createvent-user{
  margin-top: 3%;
  border: 3px white solid;
  padding: 20px;
  border-radius: 5px;
  padding-bottom: 3%;

}
.ClientLogoEvP{
  width: 40%;
  margin-right: 0;
}
.ClientLogoEvPDashBoard{
  width: 30%;
  margin-right:5%;
}
.optioncustom{
  margin:1%;
  border-radius: 10px;
  border: white;
  color:#727272;
}
.btn-positionEventCreator{
  margin-top:-3%;
  float: right;
  margin-left:3%;
}

.customized-but{
    z-index: 999;
    background: none;
    border: none;
    outline: none;
    color: #4BA30C;
    font-family: Calibri;
    border: 2px solid #fff;
    padding: 9px 15px;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    position: relative;
    margin:1.5%;
}

.customized-but:hover{
  font-style: italic;
}
.evTitle {
  text-align: right;
  font-size: 2em;
  margin-top: -10%;
  margin-right: -20%;
  text-transform: uppercase;
  font-weight: bold;
  color: #354954;
  text-shadow: 0 1px 2px rgba(black,.15);
}
.optioncustom:hover{
  background: #4BA30C;
  color:white;
}

.evText {
  text-align: center;
  margin-top:4%;
  color: lighten;
  text-align: justify;
  height: auto;
  

  
}
.evHour{
  text-align: right;
  margin: 0 20px 20px;
  color: lighten;
  color: #4BA30C;
  font-style: oblique;
} 
#header{
  width: 200px;
  height: 120px;
}

.textEvent{
  font-style: oblique;
}
.fas{
  color: #4BA30C;
  margin-left:70%;
  font-size: 2em;
  margin-top:2%;
}
.event{
  width: 70%;
  padding:1%;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
  
}
.event::before,.event:after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.eventn:hover::before, .event:hover::after{
  width: 100%;
}
.event:hover::after .event:hover::after{
  height: 100%;
}
#content{
  margin-left: 10%;
}

/* Responisve */
   /* For mobile phones: */
@media only screen and (max-width: 991px) {
  .main-div {
    max-width: 100%;
  }
  .ClientLogo{
   padding-right: 6%;
   padding-left: 6%;
 }
 h2{
   font-size: 0.7em;
 }
 p{
   font-size:0.6em;
 }
 body{
   margin:4%;
 }
 .createvent-user{
  margin-top: 3%;
  border: 3px white solid;
  padding: 5px;
  border-radius: 5px;
  padding-bottom: 3%;
}
.evTitle {
  text-align: right;
  font-size: 0.9em;
  margin-top: -11%;
  text-transform: uppercase;
  font-weight: bold;
  color: #354954;
  text-shadow: 0 1px 2px rgba(black,.15);
}
.evText {
  margin-top:20%;
  margin:4%;
  color: lighten;
}
.evHour{
  text-align: right;
  margin:1%;
  color: lighten;
}
.btn-positionEventCreator{
  margin-top:-6%;
  float: right;
}
.btn-positionEventCreatorSent{
  float: right;
  margin-bottom: 20%;
}
.event{
  margin-bottom: 2%;
}
#content{
  margin-top:4%;
  margin-left: 0;
}

}
