
body{ 
  background: #E0E4E8;
  font-family: 'Montserrat', sans-serif;
  color:#5B5A5A;
  margin:2%;
}
img{
  width: 30%;
  margin-top: 5%;
  border-radius: 8px;

  
}
h2 {
  text-align: right;
  font-size: 1.5em;
  margin-top: -13%;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px rgba(black,.15);
}

p {
  text-align: right;
  margin: 0 20px 20px;
  color: lighten;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
a{
  color:#5B5A5A;
}
a:hover{

  color: white;
}
/* Basics styles  */
.main-div {
  background: #E0E4E8 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 50%;
  padding: 50px 50px 50px 50px;
}
.GoBackBotton{
  margin-right:0;
}
/* logo Section */
.centrador{
  padding: 10% 0 10% 0;
  margin:auto;
  width: 400px;
  height: 120px;
}
.ClientLogo{
    width: 100%;
}
/* login section  */
.form-heading { 
  color:#fff; 
  font-size:23px;
}
.panel h2{ 
  font-size:2em; 
  margin:0 0 8px 0;
}
.panel p { 
  font-size:2em; 
  margin-bottom:30px; 
  line-height:24px;
}

.login-form .form-control {
  background: #F5F6F7 none repeat scroll 0 0;
  border: 1px solid #CFD0D1;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.login-form .form-group {
  margin-bottom:2%;
}
.login-form{
   text-align:center;
  }
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #4BA30C none repeat scroll 0 0;
  border-color: #4BA30C;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left;
  margin-bottom:30px;
}
.botto-text  {
  color: #5B5A5A;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
}
.botto-text-pre{
  color: #5B5A5A;
  font-size: 0.8em;
  margin: auto;

}
.botto-text:hover{
  color: #FABD06;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { 
  text-align: left; 
  margin-top:10px;}
.back a {
  font-size: 13px;
  text-decoration: none;}
.fixed-bottom{
  padding-bottom:1%;
}
/* event menu/ display menu page  */
/* display page */
.createvent-user{
  margin-top: 3%;
  margin-left: 10%;
  border: 3px white solid;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  padding-bottom: 3%;
}
.ClientLogoEvP{
  width: 30%;
}
.optioncustom{
  margin:1%;
  border-radius: 10px;
  border: white;
  
}
.customized-but{
  border-radius: 10px;
  background: #4BA30C ;
  border: white 1px solid;
  color: white;
}

#header{
  width: 200px;
  height: 120px;
}
.horaEvent{
  color: #4BA30C;
  font-style: oblique;
}
.textEvent{
  font-style: oblique;
}
.fas{
  color: #4BA30C;
  margin-left:40%;
  font-size: 2.5em;
}

/* Responisve */
   /* For mobile phones: */
@media only screen and (max-width: 991px) {
  .main-div {
    max-width: 100%;
  }
  .ClientLogo{
   padding-right: 6%;
   padding-left: 6%;
 }
 h2{
   font-size: 0.7em;
 }
 p{
   font-size:0.6em;
 }
}
